<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
    <title th:text ="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   <header th:insert="blocks/header :: header"></header>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">

                <h1 class="fw-light" th:text="|Welcome to, ${title}!|"/>

                <p class="lead text-body-secondary">You can create your own post,
                    please enter name and text of your post down bellow, to create new post.
                </p>



                <form action="postcreator" method="post">
                    <input type="text" name = "name" placeholder="Введите имя"/>

                    <input type="text" name = "text" placeholder="Введите текст"/>

                    <button type="submit" class="btn btn-success"> Добавить</button>
                </form>

                <div class="d-flex flex-row">
                <h4 class="p-2">Current posts:</h4>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div th:each="el: ${posts}" class ="alert alert-info mt-2">
                            <h5 th:text="${el.name}" class="card-title " ></h5>
                            <p  th:text="${el.text}" class="card-text"></p>

                            <div class="d-flex flex-row-reverse">
                            <form action="postcreator" method="post">
                                <a th:href="'/postcreator/'+${el.id}" class="btn btn-primary "> Детали </a>
                            </form>
                                </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</body>
</html>