<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <h5 class="fs-4">Main page</h5>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/postcreator">Post</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/Test1">Test1</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/Test2">Test2</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="/Test3">Test3</a>
        </nav>

    </div>
</div>